body {
    font-size: 16px;
}

button {
    background-color: cadetblue;
    border-radius: 10%
}

div {
    width: max-content;
    border: 1px solid gainsboro;
    box-shadow: 8px 8px 5px gray;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, white, gainsboro 40%, grey);
}

p {
    width: max-content;
    padding: 1em;
    outline-style: dotted
}
